.main{
    text-align: center;
    background-color: aquamarine;
}
#h{
    display: inline;
}
.bodi{
    position: relative;
    left: 40px;
    bottom: 5px;
    display: inline;
}

img{
    padding-top: 20px;
    float: left;
}
